{% extends 'todo/base.html' %}

{% block title %}
  {% if object %}
  ToDoの編集
  {% else %}
  ToDoの作成
  {% endif %}
{% endblock %}

{% block jumbotron %}
  {% if object %}
  ToDoの編集
  {% else %}
  ToDoの作成
  {% endif %}
{% endblock %}

{% block main %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">
      {% if object %}
      修正
      {% else %}
      追加
      {% endif %}
    </button>
</form>
<a class="btn btn-secondary" href="{% url 'todo:index' %}">戻る</a>
{% endblock %}